@import "tailwindcss";

:root {
  --background: #14111a;
  --foreground: #f4f5fa;
  --accent: #c8c8f3;
  --accent-blur: rgba(200, 200, 243, 0.05);
  --accent-card: rgba(200, 200, 243, 0.2);
}

@media (min-width: 541px) and (max-width: 840px) {
  .mid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 940px) {
  .reason-section {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
@media (min-width: 740px) {
  .reason-section {
    width: 100%;
  }
}

@media (max-width: 540px) {
  body {
    align-items: center;
  }
  nav a {
    display: none;
  }
  .header-section {
    padding: 0 1rem;
  }
  .mid-section {
    flex-direction: column;
  }
  .reason-section {
    padding: 0 1rem;
  }
  .reason-section .grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .use-section {
    padding: 0 1rem;
  }

  .ready-cta {
    background: none !important;
    border: none !important;
    padding: 0.5rem;
  }
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  p {
    font-size: small !important;
  }

  nav {
    padding: 0.4rem 1rem;
  }
  footer p {
    font-size: x-small;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  max-width: 1100px;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: normal;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: normal;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
}
.accent {
  color: var(--accent);
}

.bg-accent-blur {
  background-color: var(--accent-blur);
}
.bg-accent {
  color: var(--background);
  background-color: var(--accent);
}

.mid-card {
  width: 300px;
  /* height: 200px; */
}

.long-card p,
.mid-card p {
  font-size: small;
  letter-spacing: normal;
}

.detail-card {
  width: 280px;
  height: 200px;
}

.detail-card p {
  font-size: 12px;
}

.ready-cta,
.detail-card,
.reason-card {
  border: 1px solid var(--accent-card);
}
.mid-card img,
.detail-card img,
.reason-card img {
  opacity: 60;
}
.mid-card img:hover,
.detail-card img:hover,
.reason-card img:hover {
  opacity: 100;
}

.reason-card {
  width: 200px;
  height: 40px;
}

.detail-grid {
  row-gap: 40px;
}

ul li {
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  border-left: 4px solid;
}

footer {
  border-top: 1px solid var(--accent-card);
}
