@import "tailwindcss";

:root {
  --background: #14111a;
  --foreground: #f4f5fa;
  --accent: #c8c8f3;
  --accent-blur: rgba(200, 200, 243, 0.05);
  --accent-card: rgba(200, 200, 243, 0.2);
}

@media (min-width: 541px) and (max-width: 840px) {
  .mid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 940px) {
  .reason-section {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
@media (min-width: 740px) {
  .reason-section {
    width: 100%;
  }
}

@media (max-width: 540px) {
  body {
    align-items: center;
  }
  nav a {
    display: none;
  }
  .header-section {
    padding: 0 1rem;
  }
  .mid-section {
    flex-direction: column;
  }
  .reason-section {
    padding: 0 1rem;
    text-align: center;
  }
  .reason-section .grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .use-section {
    padding: 0 1rem;
  }

  .ready-cta {
    background: none !important;
    border: none !important;
    padding: 0.5rem;
  }
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  p {
    font-size: small !important;
  }

  nav {
    padding: 0.4rem 1rem;
  }
  footer p {
    font-size: x-small;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  max-width: 1100px;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: normal;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: normal;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
}
.accent {
  color: var(--accent);
}

.bg-accent-blur {
  background-color: var(--accent-blur);
}
.bg-accent {
  color: var(--background);
  background-color: var(--accent);
}

.mid-card {
  width: 300px;
  /* height: 200px; */
}

.long-card p,
.mid-card p {
  font-size: small;
  letter-spacing: normal;
}

.detail-card {
  width: 280px;
  height: 200px;
}

.detail-card p {
  font-size: 12px;
}

.ready-cta,
.detail-card,
.reason-card {
  border: 1px solid var(--accent-card);
}

.reason-card {
  width: 200px;
  height: 40px;
}

.detail-grid {
  row-gap: 40px;
}

ul li {
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  border-left: 4px solid;
}

footer {
  border-top: 1px solid var(--accent-card);
}

footer a span,
a {
  transition: all 500ms ease-out;
}

a:hover {
  background-color: var(--accent-blur);
  border: 1px solid var(--accent);
  color: var(--accent);
  transform: translateX(5px) translateY(-2px);
  border-radius: 0;
}

.long-card img,
.mid-card img {
  cursor: pointer;
  opacity: 0.5;
  transition: all ease 600ms;
}

.long-card img:hover,
.mid-card img:hover {
  opacity: 0.8;
}

footer a:hover {
  background: none;
  border: none;
}

footer a span:hover {
  transform: translateX(5px) translateY(-2px);
}

.ri--whatsapp-fill {
  display: inline-block;
  width: 48px;
  height: 48px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.001 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.95 9.95 0 0 1-5.03-1.355L2.005 22l1.352-4.968A9.95 9.95 0 0 1 2.001 12c0-5.523 4.477-10 10-10M8.593 7.3l-.2.008a1 1 0 0 0-.372.1a1.3 1.3 0 0 0-.294.228c-.12.113-.188.211-.261.306A2.73 2.73 0 0 0 6.9 9.62c.002.49.13.967.33 1.413c.409.902 1.082 1.857 1.97 2.742c.214.213.424.427.65.626a9.45 9.45 0 0 0 3.84 2.046l.568.087c.185.01.37-.004.556-.013a2 2 0 0 0 .833-.231a5 5 0 0 0 .383-.22q.001.002.125-.09c.135-.1.218-.171.33-.288q.126-.13.21-.302c.078-.163.156-.474.188-.733c.024-.198.017-.306.014-.373c-.004-.107-.093-.218-.19-.265l-.582-.261s-.87-.379-1.402-.621a.5.5 0 0 0-.176-.041a.48.48 0 0 0-.378.127c-.005-.002-.072.055-.795.931a.35.35 0 0 1-.368.13a1.4 1.4 0 0 1-.191-.066c-.124-.052-.167-.072-.252-.108a6 6 0 0 1-1.575-1.003c-.126-.11-.243-.23-.363-.346a6.3 6.3 0 0 1-1.02-1.268l-.059-.095a1 1 0 0 1-.102-.205c-.038-.147.061-.265.061-.265s.243-.266.356-.41c.11-.14.203-.276.263-.373c.118-.19.155-.385.093-.536q-.42-1.026-.868-2.041c-.059-.134-.234-.23-.393-.249q-.081-.01-.162-.016a3 3 0 0 0-.403.004z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
